@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0; /* שקיפות התחלתית */
        transform: translateY(-20px); /* זזת מעט למעלה */
    }
    to {
        opacity: 1; /* שקיפות מלאה */
        transform: translateY(0); /* חזרה למקום המקורי */
    }
}


body {
    display: flex;
    justify-content: center; /* מרכז אופקית */
    align-items: center; /* מרכז אנכית */
    height: 100vh; /* גובה כל הדף */
    margin: 0; /* מבטל שוליים של הדפדפן */
    text-align: center;
    background-color: #b6dcb8;


}

h1 {

    text-align: center;
    background-color: #b6dcb8;
    color: rosybrown;
    font-family: Gisha, sans-serif;
    font-size: 70px;
    animation: fadeIn 1s ease-in; /* אנימציה עבור הכותרת */
}


.container {
    display: flex;
    flex-direction: column; /* מסדר את התוכן בעמודה */
    align-items: center; /* מרכז אופקית */
    justify-content: center; /* מרכז אנכית */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* שתי עמודות */
    grid-template-rows: auto auto auto; /* שלוש שורות */
    gap: 30px;
    margin-top: 50px; /* מוסיף מרחק בין התמונה לכפתורים */
    width: 500px;
    align-items: center;

}

.btn {
    padding: 20px 40px;
    font-size: 20px;
    font-family: Gisha, sans-serif;
    color: rosybrown;
    background-color: #D9F2D0;
    border: 2px solid rosybrown;
    border-radius: 30px;
    cursor: pointer; /* הפיכת הסמן ליד */
    transition: background-color 0.3s ease;
    position: relative; /* מבטיח שאין בעיות בשכבות */
    z-index: 10; /* מבטיח שהכפתור מעל אלמנטים אחרים */
    opacity: 0; /* שקיפות התחלתית */
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.btn:hover {
    background-color: #d9b1a2; /* שינוי צבע בריחוף */
    color: white; /* שינוי צבע הטקסט */
}


.btn:nth-child(1) {
    animation-name: slideInFromLeft;
    animation-delay: 0s;
}


.btn:nth-child(5) {
    animation-name: slideInFromRight;
    animation-delay: 0s; /* עיכוב נוסף */
    grid-column: 1 / span 2; /* הכפתור מתפרס על שתי העמודות */
    justify-self: center; /* ממקם את הכפתור במרכז אופקית */

}