{% extends "base.html" %}

{% set page_head_title = 'Tuesday_Schedule' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Tuesday_Schedule.static', filename='css/Tuesday_Schedule.css') }}">
{% endblock %}

{# Header#}
{% set page_body_header ='לוח שיעורים' %}


{# Main#}
{% block page_body_main %}
    <div class="dates">
        <a href=/Thursday_Schedule>
            <button id='4'></button>
        </a>
        <a href="/Wednesday_Schedule">
            <button id='3'></button>
        </a>
        <a href="/Tuesday_Schedule">
            <button id='2' class="active"></button>
        </a>
        <a href="/Monday_Schedule">
            <button id='1' ></button>
        </a>
        <a href="/Sunday_Schedule">
            <button id='0' ></button>
        </a>
    </div>



    <div class="schedule">
        {#        עובדדדדד#}
        {% for cls in classes %}
            <button class="session" data-class-id="{{ cls._id }}" data-time="{{ cls.time }}"
                    data-popup="{{ cls.title }} שעה {{ cls.time }}">
                <p class="time">{{ cls.date.strftime('%H:%M') }}</p>
                <p class="details">{{ cls.title }}</p>
                <p id="spots-{{ cls._id }}" class="spots">{{ cls.registered_users|length }}/{{ cls.capacity }}
                    רשומות</p>
            </button>
        {% endfor %}
    </div>
    <div class="footer">
        <p>להרשמה לשיעור/ רשימת המתנה/ ביטול רישום – לחצי על השיעור</p>
    </div>
{% endblock %}

{% block submit %}{% endblock %}





{# Popup#}
{% block popup %}
    <div id="popup" class="popup">
        <h2>פרטי שיעור</h2>
        <p id="popup-content"></p>
        <button id="register-btn" class="popup-btn">הרשמה</button>
        <button id="waitlist-btn" class="popup-btn">כניסה לרשימת המתנה</button>
        <button id="cancel-btn" class="popup-btn">ביטול הרשמה</button>
        <button id="close-popup" class="popup-btn">סגור</button>
    </div>
 <!-- פופאפ ביטול הרשמה -->
    <div id="cancel-popup" class="popup" style="display: none;">
        <div class="popup-content">
            <h2>את בטוחה שתרצי לבטל?</h2>
            <p id="cancel-message"></p>
            <button id="confirm-cancel-btn" class="popup-btn">בצע ביטול</button>
            <button id="close-cancel-popup" class="popup-btn">סגור</button>
        </div>
    </div>

    <!-- שכבת רקע נפרדת לכל פופאפ -->
    <div class="overlay" id="popup-overlay" style="display: none;"></div>
    <div class="overlay" id="cancel-overlay" style="display: none;"></div>
{% endblock %}
{# JS#}
{% block page_body_js %}
    <script src="{{ url_for('Tuesday_Schedule.static', filename='js/Tuesday_Schedule.js') }}"></script>
{% endblock %}






