{% extends "../pages/Schedule/templates/Sunday_Schedule.html" %}

{% block Sunday %}
    <button id='0'></button>
{% endblock %}

{% block Tuesday %}
    <button id='2' class="active"></button>
{% endblock %}

{% block Schedule %}
    <div class="schedule">
        <button class="session" data-time="07:00" data-day-offset="2" data-popup="שיעור נשימות שעה 7:00">
            <p class="time">07:00</p>
            <p class="details">שיעור נשימות</p>
            <p class="spots">6/10 רשומות</p>
        </button>
        <button class="session" data-time="08:00" data-day-offset="2" data-popup="יוגה קונדליני שעה 8:00">
            <p class="time">08:00</p>
            <p class="details">יוגה קונדליני</p>
            <p class="spots">4/10 רשומות</p>
        </button>
        <button class="session" data-time="10:00" data-day-offset="2" data-popup="Power yoga שעה 10:00">
            <p class="time">10:00</p>
            <p class="details">Power yoga</p>
            <p class="spots">5/10 רשומות</p>
        </button>
        <button class="session" data-time="18:00" data-day-offset="2" data-popup="יוגה אשטנגה - מתחילות שעה 18:00">
            <p class="time">18:00</p>
            <p class="details">יוגה אשטנגה - מתחילות</p>
            <p class="spots">7/10 רשומות</p>
        </button>
        <button class="session" data-time="19:00" data-day-offset="2" data-popup="יוגה אשטנגה - מתקדמות שעה 19:00">
            <p class="time">19:00</p>
            <p class="details">יוגה אשטנגה - מתקדמות</p>
            <p class="spots">10/10 רשומות</p>
        </button>
    </div>
{% endblock %}

{#{% block popup1 %}#}
{#    <a href="/Thursday_Schedule.html"></a>#}
{#{% endblock %}#}
{##}
{#{% block popup2 %}#}
{#    <a href="/Thursday_Schedule.html"></a>#}
{#{% endblock %}#}
{##}
{#{% block popup3 %}#}
{#    <a href="/Thursday_Schedule.html"></a>#}
{#{% endblock %}#}