{% extends "Schedule.html" %}

{% block Sunday %}
    <button id='0'></button>
{% endblock %}

{% block Thursday %}
    <button id='4' class="active"></button>
{% endblock %}

{% block Schedule %}
    <div class="schedule">
        <button class="session" data-time="07:00" data-day-offset="4" data-popup="שיעור נשימות שעה 7:00">
            <p class="time">07:00</p>
            <p class="details">שיעור נשימות</p>
            <p class="spots">8/10 רשומות</p>
        </button>
        <button class="session" data-time="08:00" data-day-offset="4" data-popup="יוגה אשטנגה - מתחילות שעה 8:00">
            <p class="time">08:00</p>
            <p class="details">יוגה אשטנגה - מתחילות</p>
            <p class="spots">5/10 רשומות</p>
        </button>
        <button class="session" data-time="09:00" data-day-offset="4" data-popup="יוגה קונדליני שעה 9:00">
            <p class="time">09:00</p>
            <p class="details">יוגה קונדליני</p>
            <p class="spots">6/10 רשומות</p>
        </button>
        <button class="session" data-time="17:00" data-day-offset="4" data-popup="יוגה ויניאסה - כל הרמות שעה 17:00">
            <p class="time">17:00</p>
            <p class="details">יוגה ויניאסה - כל הרמות</p>
            <p class="spots">8/10 רשומות</p>
        </button>
        <button class="session" data-time="18:00" data-day-offset="4" data-popup="Power yoga שעה 18:00">
            <p class="time">18:00</p>
            <p class="details">Power yoga</p>
            <p class="spots">7/10 רשומות</p>
        </button>
    </div>
{% endblock %}

{#{% block popup1 %}#}
{#    <a href="/Tuesday_Schedule.html"></a>#}
{#{% endblock %}#}
{##}
{#{% block popup2 %}#}
{#    <a href="/Tuesday_Schedule.html"></a>#}
{#{% endblock %}#}
{##}
{#{% block popup3 %}#}
{#    <a href="/Tuesday_Schedule.html"></a>#}
{#{% endblock %}#}