{% extends "base.html" %}

{% set page_head_title = 'Entry_Screen' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Entry_Screen.static', filename='css/Entry_Screen.css') }}">
{% endblock %}

{# Header #}
{% set page_body_header ='ברוכות הבאות' %}

{# Navigation #}
{% block page_body_header_content__main_menu %}{% endblock %}

{# Main #}
{% block page_body_main %}
    <form action="Entry_Screen.html" method="post">
        <div class="grid_Container_1">

            <p>דואר אלקטרוני</p>
            <input type="text" id="email" name="user_Email" class="input-field"
                   placeholder="הזיני כתובת דואר אלקטרוני ">
            <span id="emailError" class="error-message"></span>

            <p>סיסמה</p>
            <input type="password" id="password" name="user_Password" class="input-field" placeholder=" הזיני סיסמה ">
            <span id="passwordError" class="error-message"></span>

            <p>משתמשת חדשה? ניתן להירשם <a href=/New_User_Account class="register-link">כאן</a></p>
            <input type="submit" value="כניסה">
        </div>

    </form>
{% endblock %}

{# Footer #}
{% block page_body_footer %}{% endblock %}

{# Popup #}
{% block popup %}{% endblock %}

{# JS #}
{% block page_body_js %}
    <script src="{{ url_for('Entry_Screen.static', filename='js/Entry_Screen.js') }}"></script>
{% endblock %}






