{% extends "base.html" %}

{% set page_head_title = 'Entry_Screen' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Entry_Screen.static', filename='css/Entry_Screen.css') }}">
{% endblock %}

{# Header #}
{% set page_body_header ='ברוכה הבאה לסטודיו סול' %}

{# Navigation #}
{% block page_body_header_content__main_menu %}{% endblock %}

{# Main #}
{% block page_body_main %}
   <form action="{{ url_for('Entry_Screen.entry_screen') }}" method="POST">
    <div class="grid_Container_1">
            <p>דואר אלקטרוני</p>
            <input type="text" id="email" name="user_Email" class="input-field" placeholder="הזיני כתובת דואר אלקטרוני" required>
            <span id="emailError" class="error-message"></span>

            <p>סיסמה</p>
            <input type="password" id="password" name="user_Password" class="input-field" placeholder="הזיני סיסמה" required>
            <span id="passwordError" class="error-message"></span>

            <p>משתמשת חדשה? ניתן להירשם <a href="{{ url_for('New_User_Account.new_user_account') }}" class="register-link">כאן</a></p>

            <button type="submit" class="btn" onclick="console.log('🔹 נלחץ!')">כניסה</button>
    </div>

    </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block submit %}
{% endblock %}

{# Popup #}
{% block popup %}{% endblock %}

{# JS #}
{% block page_body_js %}
    <script src="{{ url_for('Entry_Screen.static', filename='js/Entry_Screen.js') }}"></script>
{% endblock %}






