{% extends "base.html" %}

{% set page_head_title = 'Edit_Password' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Edit_Password.static', filename='css/Edit_Password.css') }}">
{% endblock %}

{# Header #}
{% set page_body_header ='שינוי סיסמה' %}

{% block page_body_js %}
    <script src="{{ url_for('Edit_Password.static', filename='js/Edit_Password.js') }}"></script>
{% endblock %}


{# Main #}
{% block page_body_main %}
        <form id="edit-password-form" action="{{ url_for('Edit_Password.index') }}" method="POST">
            <div class="grid-container_1">
                <div class="field-container">
                    <p>סיסמה נוכחית:</p>
                    <input type="password" id="old_password" name="old_password" required>
                    <span id="old_passwordError" class="error-message"></span>
                </div>

                <div class="field-container">
                    <p>סיסמה חדשה:</p>
                    <input type="password" id="new_password" name="new_password" required>
                    <span id="new_passwordError" class="error-message"></span>
                </div>

                <div class="field-container">
                    <p>אימות סיסמה חדשה:</p>
                    <input type="password" name="confirm_password" required>
                    <span id="confirm_passwordError" class="error-message"></span>
                </div>

            </div>
        </form>
{% endblock %}

{% block submit %}
        <button type="submit" id="submit-button" form="edit-password-form" class="btn" >שנה סיסמה</button>
{% endblock %}

