
/* עיצוב קונטיינר שדות הטקסט */
.grid_Container_1 {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: right;
    gap: 10px;
    width: 320px; /* מתן רוחב קבוע לשדות */
    justify-self: center;
}

.grid_Container_1 p {
    color: rosybrown;
    margin: 0;
    font-size: 20px;
}

.grid_Container_1 input {
    width: 300px;
    padding: 10px;
    border: 2px solid rosybrown;
    border-radius: 10px;
    background-color: #eafbea;
    font-size: 14px;
    color: rosybrown;
}

/* עיצוב הכפתור "כניסה" */
input[type="submit"] {
    width: 150px; /* קיצור רוחב הכפתור */
    padding: 10px; /* גובה מרווח פנימי */
    font-size: 16px; /* גודל גופן */
    color: rosybrown;
    background-color: #eafbea;
    border: 2px solid rosybrown;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* מוודא שהטקסט במרכז */
    display: block; /* הפיכה לבלוק לצורך מרכוז */
    margin: 10px auto; /* מרכוז הכפתור אופקית */
}
/*לא מחקתי בשביל שיהיה נח לראות מה שיניתי */

/*!* עיצוב הכפתורים *!*/
/*span.btn {*/
/*    display: flex;*/
/*    gap: 15px;*/
/*    margin-top: 20px;*/

/*}*/

.input-field::placeholder {
  text-align: right;
}

.error-message {
    color: red;
    visibility: hidden; /* Hide by default but reserve space */
    height: auto; /* Ensure height adjusts to content */
    margin-top: 0px; /* Space between input and error message */
    font-size: 0.9em; /* Smaller font size for clarity */
    text-align: left; /* Align error message text */
}

.error-message.visible {
    visibility: visible;
}

input.error {
    border-color: red;
    outline: none;
}

a.register-link {
    font-weight: bold; /* הדגשה */
    text-decoration: underline; /* קו תחתון */
    color: rosybrown; /* צבע */
    cursor: pointer; /* סמן יד */
}

a.register-link:hover {
    color: #d9b1a2; /* שינוי צבע בעת ריחוף */
}
