<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>

{% block header %}
<header>
    <h1>**********************</h1>
    <h1>This is Base header</h1>
    <h1>**********************</h1>
</header>
{% endblock %}

{% include ('navigation.html') %}

{% block main%}
<h2>This is the main block</h2>
{% endblock %}

{% block footer%}
<footer>
    <h1>**********************</h1>
    <h1>This is Base footer</h1>
    <h1>**********************</h1>
</footer>
{% endblock %}

</body>
</html>