<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">

{% block page_body_js %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

<div class="grid-container">

    <div class="div1">
    {% block page_head %}
            {% block page_head_meta %}
                <meta charset="UTF-8"/>
                <meta name="keywords"
                      content="flask, lean, skeleton, project, structure, environment, setup, template, fullstack, web, development, app, university, education"/>
            {% endblock %}
            <title>{{ page_head_title_author|default('Ofri & Oryan', true) }} | {{ page_head_title|default('part C', true) }}</title>



            <h1>{{ page_body_header|default('Soul Studio', true) }}</h1>

    {% endblock %}
    </div>

    <div class="div2">
    {% block page_body_header %}
            <div class="header-container">
                <img src="{{ url_for ('static', filename='images/Company_Logo.jpeg') }} " alt="CompanyLogo">
            </div>
    {% endblock %}
    </div>

    <div class="div3">
    {% block page_body_main %}    {% endblock %}
    </div>

    <div class="div4">
    {% block page_body_content %}
        {% block page_body_header_content__main_menu %}
                {% if request.path not in ['/', '/Home_Page'] %}  {# אם המשתמש לא נמצא בדף הבית #}
                    <nav class="main-menu">
                        {% block page_body_header_content__main_menu_content %}
                            <ul>
                                {% block page_body_header_content__main_menu_content_links %}
                                    {% include 'Navigation.html' %}
                                {% endblock %}
                            </ul>
                        {% endblock %}
                    </nav>
                {% endif %}
        {% endblock %}
    {% endblock %}
    </div>

    <div class="div5">
    {% block page_body_footer %}
        <div style="text-align: center;">
            <a href="{{ return_to_url | default('/Home_Page', true) }}" class="btn">{{ return_to_button | default('חזרה למסך הבית', true) }}</a>
            {% block submit %} {% endblock %}
        </div>
    {% endblock %}
    </div>

    {#Display flash messages#}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {# Popup #}
    {% block popup %}
        <div id="popup" class="popup" style="display: none;">
                <p>ההרשמה בוצעה בהצלחה!</p>
                <a href="{{ url_for('Home_Page.index') }}">
                    <button class="btn">חזרה לדף הבית</button>
                </a>
        </div>
    {% endblock %}

</div>

