<!DOCTYPE html>
<html lang="en">
<head>
    {% block page_head %}
        {% block page_head_meta %}
            <meta charset="UTF-8"/>
            <meta name="keywords"
                  content="flask, lean, skeleton, project, structure, environment, setup, template, fullstack, web, development, app, university, education"/>
        {% endblock %}
        <title>{{ page_head_title_author|default('Ofri & Orian', true) }}

            | {{ page_head_title|default('part C', true) }}</title>

        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% endblock %}
    {% endblock %}
</head>

<body>
    {% block page_body_content %}
    {# Navigation #}
        {% block page_body_header_content__main_menu %}
            <nav class="main-menu">
                {% block page_body_header_content__main_menu_content %}
                    <ul>
                        {% block page_body_header_content__main_menu_content_links %}
                            {% include 'navi.html' %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </nav>
        {% endblock %}


    {# Header #}
        {% block page_body_header %}
            <div class="header-container">
                <img src="{{ url_for ('static', filename='images/Company_Logo.jpeg') }} " alt="CompanyLogo">
                <h1>{{ page_body_header|default('part C', true) }}</h1>
            </div>
        {% endblock %}




    {# Main #}
        {% block page_body_main %}
             <div class="grid-container_1">
                <p>שם פרטי</p>
                <input type="text" id="firstName" name="user_FirstName" class="input-field" placeholder="הזיני שם פרטי">
                <span id="firstNameError" class="error-message">יש להזין שם פרטי.</span>

                <p>שם משפחה</p>
                <input type="text" id="lastName" name="user_LastName" class="input-field" placeholder="הזיני שם משפחה">
                <span id="lastNameError" class="error-message">יש להזין שם משפחה.</span>

                <p>תאריך לידה</p>
                <input type="date" id="birthDate" name="user_Date" class="input-field" placeholder="הזיני תאריך">
                <span id="birthDateError" class="error-message"></span>

                <p>דואר אלקטרוני</p>
                <input type="text" id="email" name="user_Email" class="input-field" placeholder="הזיני כתובת דואר אלקטרוני ">

                <span id="emailError" class="error-message"></span>

                <p>מס' פלאפון</p>
                <input type="tel" id="phoneNumber" name="user_PhoneNumber" placeholder="050-1234567">
                <span id="phoneNumberError" class="error-message"></span>

                <p>סיסמה</p>
                <input type="password" id="password" name="user_Password" class="input-field"
                       placeholder="הכניסי סיסמה כרצונך על פי הנהלים">
                <span id="passwordError" class="error-message"></span>

                <p>טופס הצהרת בריאות</p>
                <input type="file" id="Hfile" name="user_Health" class="input-field" placeholder="הזיני שם פרטי">
                <span id="fileError" class="error-message"></span>

            </div>
        {% endblock %}

    {# Footer #}
        {% block page_body_footer %}
            <div class="button">
            {% block submit %}
                <button id="submit-button" class="btn">{{ submit_button_text }}
                </button>
                 {% endblock %}
                  <a href="{{ return_to_url | default('/Home_Page', true) }}">
                    <button class="btn">{{ return_to_button | default('חזרה למסך הבית', true) }}
                    </button>
                  </a>
            </div>
        {% endblock %}



    {# Popup #}
        {% block popup %}
            <div id="popup" class="popup">
                    <p>{{ success_message }}</p>
                    <a href="/Home_Page">
                        <button class="btn">חזרה לדף הבית</button>
                    </a>
            </div>
        {% endblock %}
    {% endblock %}

    {# JS #}
    {% block page_body_js %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}

    </body>
</html>









{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Base</title>#}
{#    <link rel="stylesheet" href="">#}
{#</head>#}
{#<body>#}
{##}
{#{% block header %}#}
{#<header>#}
{#    <h1>**********************</h1>#}
{#    <h1>This is Base header</h1>#}
{#    <h1>**********************</h1>#}
{#</header>#}
{#{% endblock %}#}
{##}
{#{% include ('navi.html') %}#}
{##}
{#{% block main%}#}
{#<h2>This is the main block</h2>#}
{#{% endblock %}#}
{##}
{#{% block footer%}#}
{#<footer>#}
{#    <h1>**********************</h1>#}
{#    <h1>This is Base footer</h1>#}
{#    <h1>**********************</h1>#}
{#</footer>#}
{#{% endblock %}#}
{##}
{#</body>#}
{#</html>#}
{##}


