<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_Page</title>

</head>
<body>

{% set page_name = "Home Page" %}
{% include ('navi.html') %}

{% if session.get('logged_in') %}
<h1> Welcome, user {{  session.get('username') }}</h1>
{% else %}
<h1>Hi ! Register Pleas!</h1>
{% endif %}
<!--<a href="/about">About Us</a>-->
{% if user %}
{#<h1>Welcome to {{page_name}} , {{ user.first_name | default('stranger',true) | upper() }} ! </h1>#}
<h2>Your age is {{ age}} years old</h2>
<h2>My hobbies:</h2>
<ul>
    {% for hobby in hobbies %}
    <li><h3>{{hobby }}</h3></li>
    {% endfor%}
</ul>

<h2>My degree:</h2>
<lo>
 {% for degree in degrees %}
  <li><h3>{{degrees }}</h3></li>
    {% endfor%}
</lo>

<h2>My data:</h2>
<ul>
    {% for key, val in user.items() %}
    <li><h3>{{key}}-{{val}}</h3></li>
    {% endfor%}
</ul>

{% else %}
<h1>Welcome to {{page_name}} ! </h1>
{% endif %}
</body>
</html>