{% extents "Sunday_Schedule" %}

{% block Schedule %}
	<div class="schedule">
    <button class="session" data-time="07:00" data-day-offset="1" data-popup="Power yoga שעה 7:00">
        <p class="time">07:00</p>
        <p class="details">Power yoga</p>
        <p class="spots">7/10 רשומות</p>
    </button>
    <button class="session" data-time="08:00" data-day-offset="1" data-popup="יוגה קונדליני שעה 08:00">
        <p class="time">08:00</p>
        <p class="details">יוגה קונדליני</p>
        <p class="spots">10/10 רשומות</p>
    </button>
    <button class="session" data-time="18:00" data-day-offset="1" data-popup="יוגה ויניאסה - כל הרמות שעה 18:00">
        <p class="time">18:00</p>
        <p class="details">יוגה ויניאסה - כל הרמות</p>
        <p class="spots">6/10 רשומות</p>
    </button>
    <button class="session" data-time="19:00" data-day-offset="1" data-popup="Power yoga שעה 19:00">
        <p class="time">19:00</p>
        <p class="details">Power yoga</p>
        <p class="spots">9/10 רשומות</p>
    </button>
    <button class="session" data-time="20:00" data-day-offset="1" data-popup="שיעור מתיחות שעה 20:00">
        <p class="time">20:00</p>
        <p class="details">שיעור מתיחות</p>
        <p class="spots">5/10 רשומות</p>
    </button>
</div>

{% endblock %}