



<!-- חלון פופ-אפ -->
<div id="popup" class="popup">
    <h2>פרטי שיעור</h2>
    <p id="popup-content"></p>
    <button id="register-btn" class="popup-btn">הרשמה</button>
    <button id="waitlist-btn" class="popup-btn">כניסה לרשימת המתנה</button>
    <button id="cancel-btn" class="popup-btn">ביטול הרשמה</button>
    <button id="close-popup" class="popup-btn">סגור</button>
</div>
<!-- תוצאה לאחר לחיצה -->
<div id="result-popup" class="popup hidden">
    <p id="result-message"></p>
</div>
<!-- חלון ביטול -->
<div id="cancel-result-popup" class="popup hidden">
    <p id="cancel-result-message"></p>
    <button id="final-cancel-btn" class="popup-btn hidden">ביטול שיעור</button>
</div>


<!-- כפתור חזרה למסך הבית -->
<div class="return-home">
    <a href="/Home_Page">
        <button class="btn">חזרי למסך הבית</button>
    </a>
</div>

<div id="cancel-popup" class="popup hidden">
    <h2>ביטול הרשמה</h2>
    <p id="cancel-timer"></p>
    <p id="cancel-warning">זמן הביטול המינימלי עבר, אם תבטלי עכשיו תאלצי לשלם.</p>
    <button id="confirm-cancel-btn" class="popup-btn">ביטול ההרשמה שלי</button>
    <button id="close-cancel-popup" class="popup-btn">סגור</button>
</div>

<div class="overlay"></div>
<script src="{{ url_for('static', filename='js/Schedule.js') }}" ></script>

</body>
</html>




<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunday Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Schedule.css') }}">

</head>
<body>

<div class="header">
    <img src="{{ url_for ('static', filename='images/Company_Logo.jpeg') }} " alt="CompanyLogo">
    <h1>לוח שיעורים</h1>
</div>
<div class="dates">
    <a href=/Thursday_Schedule>
        {% block Thursday %}{% endblock %}
    </a>
    <a href="/Wednesday_Schedule">
        {% block Wednesday %}{% endblock %}
    </a>
    <a href="/Tuesday_Schedule">
        {%  block Tuesday %}{% endblock %}
    </a>
    <a href="/Monday_Schedule">
        {%  block Monday %}{% endblock %}
    </a>
    <a href="/Sunday_Schedule">
        {%  block Sunday %}{% endblock %}
    </a>
</div>
<div class="footer">
    <p>להרשמה לשיעור/ רשימת המתנה/ ביטול רישום – לחצי על השיעור</p>
</div>

{% block Schedule %}{% endblock %}

<!-- חלון פופ-אפ -->
<div id="popup" class="popup">
    <h2>פרטי שיעור</h2>
    <p id="popup-content"></p>
    <button id="register-btn" class="popup-btn">הרשמה</button>
    <button id="waitlist-btn" class="popup-btn">כניסה לרשימת המתנה</button>
    <button id="cancel-btn" class="popup-btn">ביטול הרשמה</button>
    <button id="close-popup" class="popup-btn">סגור</button>
</div>
<!-- תוצאה לאחר לחיצה -->
<div id="result-popup" class="popup hidden">
    <p id="result-message"></p>
</div>
<!-- חלון ביטול -->
<div id="cancel-result-popup" class="popup hidden">
    <p id="cancel-result-message"></p>
    <button id="final-cancel-btn" class="popup-btn hidden">ביטול שיעור</button>
</div>


<!-- כפתור חזרה למסך הבית -->
<div class="return-home">
    <a href="/Home_Page">
        <button class="btn">חזרי למסך הבית</button>
    </a>
</div>

<div id="cancel-popup" class="popup hidden">
    <h2>ביטול הרשמה</h2>
    <p id="cancel-timer"></p>
    <p id="cancel-warning">זמן הביטול המינימלי עבר, אם תבטלי עכשיו תאלצי לשלם.</p>
    <button id="confirm-cancel-btn" class="popup-btn">ביטול ההרשמה שלי</button>
    <button id="close-cancel-popup" class="popup-btn">סגור</button>
</div>

<div class="overlay"></div>
<script src="{{ url_for('static', filename='js/Schedule.js') }}" ></script>

</body>
</html>

