{% extends "base.html" %}

{% set page_head_title = 'Sunday_Schedule' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Sunday_Schedule.static', filename='css/Sunday_Schedule.css') }}">
{% endblock %}

{# Header#}
{% set page_body_header ='לוח שיעורים' %}


{# Main#}
{% block page_body_main %}
    <div class="dates">
        <a href=/Thursday_Schedule>
            <button id='4'></button>
        </a>
        <a href="/Wednesday_Schedule">
            <button id='3'></button>
        </a>
        <a href="/Tuesday_Schedule">
            <button id='2'></button>
        </a>
        <a href="/Monday_Schedule">
            <button id='1'></button>
        </a>
        <a href="/Sunday_Schedule">
            <button id='0' class="active"></button>
        </a>
    </div>


    <div class="schedule">
        <button class="session" data-time="07:00" data-day-offset="0" data-popup="יוגה אשטנגה - מתחילות שעה 7:00">
            <p class="time">07:00</p>
            <p class="details">יוגה אשטנגה - מתחילות</p>
            <p class="spots">7/10 רשומות</p>
        </button>
        <button class="session" data-time="08:00" data-day-offset="0" data-popup="יוגה ויניאסה - מתחילות שעה 8:00">
            <p class="time">08:00</p>
            <p class="details">יוגה ויניאסה - מתחילות</p>
            <p class="spots">3/10 רשומות</p>
        </button>
        <button class="session" data-time="18:00" data-day-offset="0" data-popup="יוגה אשטנגה - מתקדמות שעה 18:00">
            <p class="time">18:00</p>
            <p class="details">יוגה אשטנגה - מתקדמות</p>
            <p class="spots">10/10 רשומות</p>
        </button>
        <button class="session" data-time="19:00" data-day-offset="0" data-popup="Power yoga שעה 19:00">
            <p class="time">19:00</p>
            <p class="details">Power yoga</p>
            <p class="spots">9/10 רשומות</p>
        </button>
        <button class="session" data-time="20:00" data-day-offset="0" data-popup="יוגה ויניאסה - כל הרמות שעה 20:00">
            <p class="time">20:00</p>
            <p class="details">יוגה ויניאסה - כל הרמות</p>
            <p class="spots">5/10 רשומות</p>
        </button>
    </div>
    <div class="footer">
        <p>להרשמה לשיעור/ רשימת המתנה/ ביטול רישום – לחצי על השיעור</p>
    </div>

{% endblock %}

{% block submit %}{% endblock %}

{# Popup#}
{% block popup %}
    <div id="popup" class="popup">
        <h2>פרטי שיעור</h2>
        <p id="popup-content"></p>
        <button id="register-btn" class="popup-btn">הרשמה</button>
        <button id="waitlist-btn" class="popup-btn">כניסה לרשימת המתנה</button>
        <button id="cancel-btn" class="popup-btn">ביטול הרשמה</button>
        <button id="close-popup" class="popup-btn">סגור</button>
    </div>
    <!-- תוצאה לאחר לחיצה -->
    <div id="result-popup" class="popup hidden">
        <p id="result-message"></p>
    </div>
    <!-- חלון ביטול -->
    <div id="cancel-result-popup" class="popup hidden">
        <p id="cancel-result-message"></p>
        <button id="final-cancel-btn" class="popup-btn hidden">ביטול שיעור</button>
    </div>
{% endblock %}

{# JS#}
{% block page_body_js %}
    <script src="{{ url_for('Sunday_Schedule.static', filename='js/Sunday_Schedule.js') }}"></script>
{% endblock %}


