{% extends "base.html" %}

{% set page_head_title = 'Meet_Us' %}

{% block page_head_css %}
       <link rel="stylesheet" href="{{ url_for('Meet_Us.static', filename='css/Meet_Us.css') }}">
{% endblock %}

{# Header#}
{% set page_body_header ='קצת עלינו' %}


{# Main#}
{% block page_body_main %}
    <div class="about-text">
        <p>!שלום, שמי עדן גולן וברוכות הבאות לסטודיו שלי</p>
        <p>.כאן, בסטודיו סול המלא בנשמה, תמצאי מרחב שמוקדש כולו לבריאות הגוף והנפש, לרוגע ולשלווה</p>
        <p>אני מזמינה אותך להצטרף למסע ייחודי שבו נלמד, נתרגל ונעמיק ביוגה</p>
        <p>!מסוגים שונים - ויניאסה, אשטנגה, פאוור יוגה, קונדליני ואפילו נשימה נכונה ומתיחות טובות לגוף</p>
        <p>!מחכה לך בשמחה על המזרן ️</p>
    </div>

    <div class="images">
        <img src="{{ url_for ('static', filename='images/MeetUs_Pic1.jpg') }} " alt="MeetUs1">
        <img src="{{ url_for ('static', filename='images/MeetUs_Pic2.jpg') }} " alt="MeetUs2">
    </div>

    <div class="about-text">
        <p>הסטודיו פועל בימים א׳ - ה׳ ונמצא בביתי ברחוב יעקב אבינו 4, קומה 3 דירה 5</p>
        <p>054-7040652 | SoulStudio@gmail.com</p>
    </div>
{% endblock %}

{% block submit %}{% endblock %}

{# Popup#}
{% block popup %}{% endblock %}

{# JS#}
{% block page_body_js %}{% endblock %}
