{% extends "base.html" %}

{% set page_head_title = 'Meet_Us' %}

{% block page_head_css %}
       <link rel="stylesheet" href="{{ url_for('Meet_Us.static', filename='css/Meet_Us.css') }}">
{% endblock %}

{# Header#}
{% set page_body_header ='קצת עלינו' %}


{# Main#}
{% block page_body_main %}
    <div class="about-text">
        <p>שלום, שמי עדן גולן וברוכות הבאות לסטודיו שלי!</p>
        <p>כאן, בסטודיו Soul המלא בנשמה, תמצאי מרחב שמוקדש כולו לבריאות הגוף והנפש, לרוגע ולשלווה.</p>
        <p>אני מזמינה אותך להצטרף למסע ייחודי שבו נלמד, נתרגל ונעמיק ביוגה. </p>
        <p>מסוגים שונים - ויניאסה, אשטנגה, פאוור יוגה, קונדליני ואפילו נשימה נכונה ומתיחות טובות לגוף!</p>
        <p>מחכה לך בשמחה על המזרן! ️</p>
    </div>

    <div class="images">
        <img src="{{ url_for ('static', filename='images/MeetUs_Pic1.jpg') }} " alt="MeetUs1">
        <img src="{{ url_for ('static', filename='images/MeetUs_Pic2.jpg') }} " alt="MeetUs2">
    </div>

    <div class="contact-info">
        <p>הסטודיו פועל בימים א׳ - ה׳ ונמצא בביתי ברחוב יעקב אבינו 4, קומה 3 דירה 5</p>
        <p>054-7040652 | SoulStudio@gmail.com</p>
    </div>
{% endblock %}

{% block submit %}{% endblock %}

{# Popup#}
{% block popup %}{% endblock %}

{# JS#}
{% block page_body_js %}{% endblock %}








{############# before base - its goog! ############}
{#<!DOCTYPE html>#}
{#<html lang="he" dir="rtl">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Meet_Us</title>#}
{#    <link rel="stylesheet" href="{{ url_for('Meet_Us.static', filename='css/Meet_Us.css') }}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <div class="logo">#}
{#        <img src="{{ url_for ('static', filename='images/Company_Logo.jpeg') }} " alt="CompanyLogo">#}
{#        <h1>קצת עלינו</h1>#}
{#    </div>#}
{#    <div class="about-text">#}
{#        <p>שלום, שמי עדן גולן וברוכות הבאות לסטודיו שלי!</p>#}
{#        <p>כאן, בסטודיו Soul המלא בנשמה, תמצאי מרחב שמוקדש כולו לבריאות הגוף והנפש, לרוגע ולשלווה.</p>#}
{#        <p>אני מזמינה אותך להצטרף למסע ייחודי שבו נלמד, נתרגל ונעמיק ביוגה. </p>#}
{#        <p>מסוגים שונים - ויניאסה, אשטנגה, פאוור יוגה, קונדליני ואפילו נשימה נכונה ומתיחות טובות לגוף!</p>#}
{#        <p>מחכה לך בשמחה על המזרן! ️</p>#}
{#    </div>#}
{#    <div class="images">#}
{#        <img src="{{ url_for ('static', filename='images/MeetUs_Pic1.jpg') }} " alt="MeetUs1">#}
{#        <img src="{{ url_for ('static', filename='images/MeetUs_Pic2.jpg') }} " alt="MeetUs2">#}
{#    </div>#}
{#    <div class="contact-info">#}
{#        <p>הסטודיו פועל בימים א׳ - ה׳ ונמצא בביתי ברחוב יעקב אבינו 4, קומה 3 דירה 5</p>#}
{#        <p>054-7040652 | SoulStudio@gmail.com</p>#}
{#    </div>#}
{#    <div class="back-button">#}
{#        <a href=/Home_Page>#}
{#            <button>חזרה לדף הבית</button>#}
{#        </a>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
{##}
{##}
