{% extends "base.html" %}

{% set page_head_title = 'Edit_Details' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Edit_Details.static', filename='css/Edit_Details.css') }}">
{% endblock %}

{# Header #}
{% set page_body_header ='עריכת פרטים אישיים' %}

{# Main#}
{% block page_body_main %}
    <form id="edit-details-form" action="/update" method="POST" enctype="multipart/form-data">
        <div class="grid-container_1">
            <div class="field-container">
                <p>שם פרטי:</p>
                <input type="text" id="firstName" name="first_name" class="input-field" value="{{ user_data.first_name }}" required>
                <span id="firstNameError" class="error-message">יש להזין שם פרטי.</span>
            </div>

            <div class="field-container">
                <p>שם משפחה:</p>
                <input type="text" id="lastName" name="last_name" class="input-field" value="{{ user_data.last_name }}" required>
                <span id="lastNameError" class="error-message">יש להזין שם משפחה.</span>
            </div>

            <div class="field-container">
                <p>תאריך לידה:</p>
                <input type="date" id="birthDate" name="birth_date" class="input-field" value="{{ user_data.birth_date }}" required>
                <span id="birthDateError" class="error-message"></span>
            </div>

            <div class="field-container">
                <p>דואר אלקטרוני:</p>
                <input type="email" id="email" name="email" class="input-field" value="{{ user_data.email }}" required>
                <span id="emailError" class="error-message"></span>
            </div>

            <div class="field-container">
                <p>מס' פלאפון:</p>
                <input type="tel" id="phoneNumber" name="phone_number" value="{{ user_data.phone_number }}" required>
                <span id="phoneNumberError" class="error-message"></span>
            </div>

            <div class="field-container">
                <p>הצהרת בריאות:</p>
                <input type="file" id="Hfile" name="health_form" class="input-field">
                <span id="fileError" class="error-message"></span>
            </div>

        </div>
    </form>
{% endblock %}

{% block submit %}
        <button type="submit" id="submit-button" form="edit-details-form" class="btn" >שמור שינויים</button>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('Edit_Details.static', filename='js/Edit_Details.js') }}"></script>
{% endblock %}