{% extends "../pages/New_User_Account/templates/New_User_Account.html" %}
{% block page %}
    <title>Edit_Details</title>
{% endblock %}

{% block header %}
    <h1>עריכת חשבון</h1>
{% endblock %}

{% block buttons %}
    <button id="submit-button" class="btn">מאשרת שינויים</button>
      <a href=/Home_Page>
        <button class="btn">חזרה למסך הבית</button>
    </a>
{% endblock %}

    {% block popup_window %}
        <p>השינויים נקלטו</p>
    {% endblock %}
{% block css %}
	 <link rel="stylesheet" href="{{ url_for('static', filename='pages/Edit_Details/static/css/Edit_Details.css') }}">
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='pages/Edit_Details/static/js/Edit_Details.js') }}"></script>
{% endblock %}