<link rel="stylesheet" href="{{ url_for('Navigation.static', filename='css/Navigation.css') }}"/>

{%
    set menu_items = {
        'דף הבית': '/',
        'החשבון שלי': url_for('My_Account.index'),
        'לוח שיעורים': url_for('Sunday_Schedule.index'),
        'יצירת קשר': url_for('Contact_Us.index'),
        'קצת עלינו': url_for('Meet_Us.index'),
    }
%}

<ul>
    {% for item in menu_items %}
        <li>
            <a href="{{ menu_items[item] }}" {% if menu_items[item] == request.path %} class="active" {% endif %}>
                {{ item | capitalize }}
            </a>
        </li>
    {% endfor %}
</ul>
